*{
    margin: 0;
    padding: 0;
    font-size: 15px; 
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

body{
    position: relative;
    background: #d4e0ee;  
}

.white-container{
    width: 325px;
    height: 500px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: white;
}

.qr-code{
    width: 285px;
    border-radius: 15px;
    margin-top: 20px;
}

h1{
    font-size: 21px;
    margin: 25px 30px;
    color: #212f4d;
}

p{
    margin: 0px 39px;
    color: #878d9b;
}